
.book-demo{gap: 24px;}
.book-title{text-align: center; }
.book-title > h4{margin-bottom: 0; font-size: 40px; line-height: 50px; letter-spacing: -0.4px;}
.book-title > h4 > span{position: relative; z-index: 1;}
.book-title > h4 > span::before{width: 0; background: var(--Accent); border-radius: 4px; bottom: 0; content: ""; display: inline-block; height: 16px; opacity: .4; position: absolute; z-index: -1; transition: var(--b-transition);}
.book-title span.optional-text{margin-bottom: 8px;}

.addons-item{background: var(--White); border-radius: 24px; box-shadow: 0 9px 16px 0 rgba(98,7,84,.08); padding: 28px; border: 2px solid var(--Translucent); align-items: center;}
.addons-subtitle{gap: 12px; margin-bottom: 12px;}
.addons-icon{flex: 0 0 24px;}
.addons-icon svg{width: 24px; height: 24px;}
.addons-text{flex: 0 0 calc(100% - 36px); font-size: 14px; line-height: 14px; letter-spacing: 1.12px; text-transform: uppercase; color: var(--Accent); }
.addons-item h4{color: var(--Accent); margin-bottom: 0;}
.addons-item ul{margin-bottom: 12px;}
.addons-item ul > li{font-size: 14px; line-height: 21px; font-weight: 700; color: var(--Gray-1); margin-bottom: 4px;}
.addons-item ul > li::before {background: url("../../images/checked-circle-pro.svg"); background-repeat: no-repeat; width: 16.5px; height: 16.5px; background-size: contain; top: 2px; left: -26px; content: ""; position: absolute; }
.addons-thumb{margin-top: 32px; max-width: 300px;}
.addons-rt > .addons-thumb{margin-top: 0;}
.addons-thumb img{border-radius: 10px 10px 0px 0px;}
.addons-lt a.text-link{color: var(--Raisin-Black);}
.addons-item-btns{gap: 16px; padding-top: 0;}

.addons-main .book-demo-call{color: var(--Raisin-Black);}
.addons-main .book-demo-call:hover{color: var(--Sky-Blue);}

.addons-value{gap: 4px; margin-bottom: 20px;}
span.addons-from{font-size: 24px; line-height: 30px; font-weight: 800; letter-spacing: -0.24px;}
span.addons-amount{margin-left: 4px;}
span.addons-duration{font-size: 18px; line-height: 22.5px; letter-spacing: -0.18px;}

@media screen and (min-width:1024px) {
    .addons-main{gap: 40px; padding: 40px 0 80px;}
    .addons-lists{gap: 40px;}
    .addons-item{flex: 1; gap: 16px;}
    .addons-lt{flex: 1;}
    .addons-rt{flex: 0 0 252px;}
    /* body.page-template-pricing .addons-thumb{margin-top: auto;} */
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .book-demo{flex-direction: column;}
}
@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .addons-item{gap: 40px; justify-content: center;}
    .addons-lt{flex: 100%;}

}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .addons-main{gap: 40px; padding: 40px 0;}
    .book-demo{flex-direction: column; text-align: center;}
    .addons-lists{gap: 32px;}
    .addons-item{flex: 100%; padding: 32px; gap: 40px; border-radius: 24px;}
    .addons-lt{width: 100%;}
    .addons-rt { width: 100%; }
    body.page-template-pricing .addons-thumb{margin-top: 0; max-width: 350px; margin: 0 auto; }
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .addons-main{gap: 32px; padding: 24px 0 40px;}
    .book-demo{flex-direction: column; text-align: center;}
    .addons-lists{gap: 24px;}
    .addons-item{flex: 100%; padding: 28px; gap: 66px; border-radius: 24px;}
    .addons-item h4{font-size: 32px; line-height: 40px; margin-bottom: 0;}
    .book-title > h4{font-size: 32px; letter-spacing: -0.32px; line-height: 40px;}
    .addons-lt{width: 100%;}
    .addons-rt { width: 100%; }
    body.page-template-pricing .addons-thumb{margin-top: 0; max-width: 294px; margin: 0 auto; }
}