.benefit-title, .benefit-desc{flex: 1;}
.benefit-title span.optional-text{margin-bottom: 24px;}
.benefit-desc{font-size: 20px; line-height: 30px; color: var(--Gray-1);}
.benefit-item{font-size: 16px; line-height: 24px; color: var(--Gray-1);}
.benefit-icon{display: flex; margin-bottom: 16px;}
.benefit-item h5{color: var(--Coal); margin-bottom: 16px;}

@media screen and (min-width: 1024px){
    .benefit-main{padding: 80px 0; gap: 48px;}
    .benefit-heading{gap: 48px;}
    .benefit-desc{padding-top: 9px;}
    .benefit-lists{gap: 48px;}
    .benefit-list-of-4{flex: 0 0 calc(25% - 36px);}
    .benefit-list-of-3{flex: 0 0 calc(33.333% - 32px);}
    .benefit-list-of-2{flex: 0 0 calc(50% - 24px);}
    .benefit-list-of-1{flex: 1;}
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .benefit-main{padding: 40px 0; gap: 48px;}
    .benefit-heading{flex: 100%; gap: 32px;}
    .benefit-title{flex: 100%;}
    .benefit-desc{flex: 100%;}
    .benefit-title h3{margin-bottom: 0;}
    .benefit-lists{flex: 100%; gap: 56px 48px;}
    .benefit-item{flex: 0 0 calc(50% - 24px);}
}

@media screen and (max-width: 767px) and (min-width: 200px){
    .benefit-main{padding: 40px 0; gap: 40px;}
    .benefit-heading{flex: 100%; gap: 32px;}
    .benefit-title{flex: 100%;}
    .benefit-desc{flex: 100%;}
    .benefit-title h3{margin-bottom: 0;}
    .benefit-lists{flex: 100%;}

    .benefit-item-inner{width: 304px; margin-right: 25px;}
    .benefit-lists .slick-list{overflow: inherit;}
    .benefit-lists-appends{gap: 8px; align-items: center; margin: 48px 0 0;}
    .benefit-lists-appends button.slick-arrow.slick-next{order: 3;}
    .benefit-lists-appends ul.slick-dots{order: 2; flex: 1;}
}