
.blog-list{padding: 8px;}
.blog-bg{border: 1px solid var(--Translucent);}
ul.blog-categories{margin: 0 0 16px; gap: 10px 24px;}
ul.blog-categories > li{margin: 0; position: relative; line-height:15px;}
ul.blog-categories > li::before{content: ""; position: absolute; top: 0; left: -13px; height: 100%; width: 2px; border-radius: 1px; opacity: 0.25; background: var(--Raisin-Black);}
ul.blog-categories > li:first-child::before{display: none;}
ul.blog-categories > li{font-size: 12px; line-height: 12px; font-weight: 800; letter-spacing: 1.2px; text-transform: uppercase; color: var(--Accent); position: relative; padding: 2px 0; display: flex;}
ul.blog-categories > li > a:hover{color: var(--Raisin-Black);}

.blog-text{padding: 24px 16px;}
.blog-text h2:last-child{margin-bottom: 0;}
.blog-text h2 a{color: var(--Raisin-Black);}
.blog-text h2 a:hover{color: var(--Accent);}
h2.no_result_found{margin: 2rem 0 6rem; width: 100%;}

/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    .blog-main{padding: 32px 0 40px;}
    .blog-rows{gap: 40px; padding: 40px 0 0;}
    .blog-section #load-more{padding-top: 40px;}
    .blog-list{flex: 0 0 calc(33.33333333% - 27px);}
}
@media screen and (max-width: 1439px) and (min-width: 1280px){
    .blog-rows{gap: 32px;}
    .blog-list{flex: 0 0 calc(33.33333333% - 22px);}
    .blog-rows:not(:first-child){padding: 32px 0 0;}
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
    .blog-rows{gap: 24px;}
    .blog-list{flex: 0 0 calc(33.33333333% - 16px);}
    .blog-rows:not(:first-child){padding: 24px 0 0;}
    ul.blog-categories > li:nth-child(2n + 1)::before{display: none;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .blog-main{padding: 40px 0;}
    .blog-rows{gap: 24px; justify-content: center; padding-top: 30px;}
    .blog-rows:not(:first-child){padding: 24px 0 0;}
    .blog-section #load-more{padding-top: 40px;}
    .blog-list{flex: 0 0 calc(50% - 12px);}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .blog-main{padding: 40px 0;}
    .blog-rows{gap: 20px; flex-direction: column; padding: 18px 0 0;}
    .blog-rows:not(:first-child){padding: 20px 0 0;}
    .blog-section #load-more{padding-top: 40px;}
    .blog-list{flex: 0 0 auto;}
    ul.blog-categories > li:nth-child(2n + 1)::before{display: none;}
    h2.no_result_found{margin: 2rem 0;}
}