
.careers-banner-section{background: linear-gradient(180deg, rgba(164, 39, 143, 0.00) 50%, rgba(164, 39, 143, 0.40) 100%), var(--Raisin-Black); overflow: hidden;}
.careers-banner-text{font-size: 20px; line-height: 30px; color: var(--White);}
.careers-banner-text h1{color: var(--White);}
.careers-banner-btn{gap: 12px; margin-top: 32px;}
.careers-banner-btn a.text-link:hover{color: var(--Sky-Blue);}
.careers-banner-btn a.text-link:hover em{color: var(--Sky-Blue);}
.careers-banner-thumb img{opacity: 0.2;}

@media screen and (min-width: 1024px) {
    .careers-banner-main{padding: 150px 0 80px;}
    body.page-template-careers .careers-banner-main{padding: 150px 0 128px;}
    .careers-banner-text{max-width: 600px;}
    .careers-banner-text.no_banner_bg{max-width: 100%;}
    .careers-banner-bg{height: 567px; right: -156px; top: 127px; max-width: 917px;} 
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
    .careers-banner-text{max-width: 572px;}
    .careers-banner-bg{right: -276px;}
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .careers-banner-text{max-width: 444px;}
    .careers-banner-bg{right: -420px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .careers-banner-main{padding: 145px 0 80px;}
    body.page-template-careers .careers-banner-main{padding: 144px 0 80px;}
    .careers-banner-bg{right: -296px; top: 104px; max-width: 917px; max-height: 567px;}
    .careers-banner-text span.optional-text{margin-bottom: 32px;}
    .careers-banner-text hr.sm-line{margin: 32px 0;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .careers-banner-main{padding: 145px 0 40px;}
    body.page-template-careers .careers-banner-main{padding: 144px 0 88px;}
    .careers-banner-text{font-size: 18px; line-height: 27px;}
    .careers-banner-text span.optional-text{margin-bottom: 24px;}
    .careers-banner-text hr.sm-line{margin: 24px 0;}
    .careers-banner-btn .button{width: 100%;}
}
