
.carousel-main{padding: 40px 0; gap: 18px; flex-wrap: nowrap;}
.carousel-item{flex: 0 0 104px; text-align: center; flex-direction: column;color: var(--Raisin-Black);font-size: 15px;font-weight: 500;line-height: 18.75px;letter-spacing: -0.3px;}
.carousel-logo{width: 104px; height: 104px; margin-bottom: 12px; border: 1px solid var(--Card-Stroke, rgba(164, 39, 143, 0.20)); background: linear-gradient(180deg, var(--White) 0%, rgba(255, 255, 255, 0.00) 100%), var(--Eggshell);}
.carousel-icon figure, .carousel-icon figure{max-width: 38px;}

.carousel-main .slick-slide{width: 104px; margin-right: 18px;}
.carousel-main button.slick-arrow{top: calc(50% - 20px); transform: translateY(-50%); position: absolute;}
.carousel-main button.slick-next{right: 40px;}
.carousel-main button.slick-prev{left: 40px;}