
.carousel-section{background-color: var(--White);}
.carousel-section::after, .carousel-section::before{width: 160px; height: 100%; top: 0;  content: ""; display: block; position: absolute; z-index: 1;}
.carousel-section::before{ left: 0; background-image: linear-gradient(90deg, var(--White) 10%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.00) 100%);}
.carousel-section::after{right: 0; background: linear-gradient(-90deg, var(--White) 10%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.00) 100%);}
.carousel-main{padding: 25px 0 40px; gap: 18px; flex-wrap: nowrap;}
.carousel-item{flex: 0 0 104px; padding-top: 15px; transition: all 0.5s ease; text-align: center; flex-direction: column;color: var(--Raisin-Black);font-size: 15px;font-weight: 500;line-height: 18.75px;letter-spacing: -0.3px; cursor: pointer;}
.carousel-icon{transition: transform 0.5s ease;}
.carousel-item:hover .carousel-icon{transform: scale(1.2); transform-origin: 50% 50%;}
.carousel-item span{transition: all 0.5s ease;}
.carousel-item:hover span{color: var(--Accent);}
.carousel-logo{width: 104px; height: 104px; margin-bottom: 12px; transition: transform 0.5s ease; border: 1px solid var(--Card-Stroke); background: linear-gradient(180deg, var(--White) 0%, rgba(255, 255, 255, 0.00) 100%), var(--Eggshell);}
.carousel-item:hover .carousel-logo{transform: translateY(-10px) scale(1.05); transform-origin: 50% 50%;}
.carousel-icon figure, .carousel-icon figure{max-width: 38px;}
.carousel-icon img{width: 40px; height: 40px;}

.carousel-main .slick-slide{width: 104px; margin-right: 18px;}
.carousel-main button.slick-arrow{top: calc(50% - 20px); transform: translateY(-50%); position: absolute; z-index: 2;}
.carousel-main button.slick-next{right: 40px;}
.carousel-main button.slick-prev{left: 40px;}