

table.compare-table{margin: 0; border: none; display: block;}
table.compare-table thead{padding: 0 16px 24px; display: block;}
table.compare-table thead tr{padding: 0 16px; width: 100%; gap: 24px; align-items: end; display: flex; flex-wrap: wrap; }
table.compare-table th{padding: 0; flex: 1; font-size: 14px; font-weight: 800; line-height: 1; letter-spacing: 1.4px; color: var(--Raisin-Black); background-color: transparent; display: flex; flex-direction: column; text-align: center;}
table.compare-table th:not(:first-child){flex: 0 0 168px;}
table.compare-table th:first-child{text-align: left; opacity: 0.5;}
table.compare-table th span{letter-spacing: normal;}
table.compare-table th button{min-width: 122px;}
table.compare-table th img{max-width: 64px; margin: 0 auto 15px;}
table.compare-table tbody{padding: 8px 16px 16px; background-color: var(--White); border-radius: 24px; box-shadow: 0 9px 16px 0 rgba(98, 7, 84, 0.08); border: solid 1px rgba(164, 39, 143, 0.2); display: block; overflow: hidden;}

table.compare-table tbody tr{width: 100%; gap: 24px; padding: 8px 16px; align-items: center; display: flex; flex-wrap: wrap; background-color: var(--White); border-radius: 8px;}
table.compare-table tbody tr:nth-child(even){background-color: var(--Gray);}
table.compare-table tbody td{padding: 0; flex: 1; font-size: 20px; line-height: 1; font-weight: 700; border: none; background-color: transparent;}
table.compare-table tbody td:not(:first-child){flex: 0 0 167px;}
table.compare-table tbody td figure img{max-width: 32px; margin: auto; object-fit: contain; display: block;}

@media screen and (min-width: 1024px){
    .compare-table-main{margin: 23px 0 64px;}
    table.compare-table th:first-child{flex: 0 0 256px;}
    table.compare-table td:first-child{flex: 0 0 256px;}
}
@media screen and (max-width: 1439px) and (min-width: 1280px){
    table.compare-table thead th:not(:first-child){flex: 0 0 152px;}
    table.compare-table tbody td:not(:first-child){flex: 0 0 152px;}
    table.compare-table tbody{padding: 8px 0px 8px 16px;}
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
    table.compare-table thead th:not(:first-child){flex: 0 0 101px;}
    table.compare-table tbody td:not(:first-child){flex: 0 0 101px;}
    table.compare-table tbody{padding: 8px 0px 8px 16px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    table.compare-table thead tr{width: 100%; gap: 16px; align-items: flex-start;}
    table.compare-table thead th:not(:first-child){flex: 0 0 56px; width: 56px; align-items: center;}
    table.compare-table th:first-child{margin-top: auto;}
    table.compare-table th img{margin: 0 0 9px 0; max-width: 56px;}
    table.compare-table th span{word-break: break-all;}
    table.compare-table tbody td:not(:first-child){flex: 0 0 50px;}
    table.compare-table tbody{padding: 8px 0px 8px 16px;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .compare-table-main{padding: 20px 0 16px;}
    .compare-slider-btns{justify-content: space-between; padding: 8px; gap: 8px;}
    .compare-slider{margin: 16px 0; border: 1px solid var(--Card-Stroke); box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08);}
    .compare-vs-main{ flex: 1;  order: 2;}
    span.compare-vs{display: block; font-size: 14px; line-height: 18.2px; font-weight: 800; letter-spacing: 1.12px; color: rgba(48, 33, 53, 0.5); text-align: center;}
    span.iconnames{display: none;}
    span.iconnames:first-child{display: block;}
    .compare-slide{padding: 8px;}
    .compare-slide-row{padding: 6px 8px; gap: 8px;}
    .compare-slide-icon{width: 32px;}
    .compare-slide-text{flex: 1; font-size: 18px; line-height: 18px; font-weight: 700; text-align: center;}
    .compare-slide-row:nth-child(even){background: rgba(48, 33, 53, 0.04);}
    .compare-logo{order: 1; max-width: 56px;}
    .compare-logo:last-of-type{order: 3;}
    .compare-appends{gap: 8px; align-items: center; margin: 0;}
    .compare-appends button.slick-arrow.slick-next{order: 3;}
    .compare-logo figure.product-icon:first-child{display: block;}
    .compare-logo figure.product-icon{display: none;}
    .comparison-vd-btns button:first-child{display: block;}
    .comparison-vd-btns button{display: none;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .compare-slide-text{font-size: 16px;}
}









