
.comparison-main table{border: none}
.comparison-h-block{text-align: center;}
.comparison-h-block span{font-size: 32px; line-height: 32px; display: block; margin-bottom: 15px;}
.comparison-h-icon svg{border-radius: 32px;}
.comparison-h-center::before{content: ""; display: block; width: 2px; height: 65px; background: var(--Accent); position: absolute; left: 50%; top: -81px; transform: translateX(-50%);}
.vs-icon{width: 56px; height: 56px; color: var(--Raisin-Black); font-size: 24px; line-height: 24px; font-weight: 800;}

.comparison-description{font-size: 16px; line-height: 24px;}

.comparison-subtitle > span{font-size: 18px; line-height: 22.5px; letter-spacing: -0.18px; font-weight: 800; display: block; width: 100%;}
.comparison-subtitle-icon{max-width: 60px;}
.comparison-subtitle-icon img{width: 60px;}
.comparison-subtitle-icon svg{width: 60px; height: 60px;}
.comparison-icon{max-width: 53px; margin-bottom: 9px;}
.comparison-icon img{width: 53px;}
.comparison-icon svg{width: 53px; height: 53px;}

/*-- media css starts here --*/
@media screen and (min-width: 1024px) {
    .comparison-section{margin-top: -117px;}
    .comparison-subtitle::before{width: 2px; height: 100%; top: -72px; left: 50%; max-height: 64px; position: absolute; content: ""; display: block; background: var(--Accent); transform: translateX(-50%); }
    .comparison-row:first-child .comparison-subtitle::before{max-height: 71px; top: -79px;}
    .comparison-head{gap: 0; margin-bottom: 48px;}
    .comparison-h-block{gap: 16px; flex: 1; padding: 0 16px;}
    .comparison-h-center{flex: 0 0 56px; top: 24px;}
    /* .comparison-h-center{flex: 0 0 168px;} */
    .comparison-row{gap: 40px; padding: 8px 0; margin-bottom: 64px;}
    .comparison-subtitle{gap: 16px; flex: 0 0 168px; padding: 16px; position: relative; margin: 0;}
    .comparison-description{gap: 16px; flex: 1; padding: 0 16px; max-width: 420px; margin: 0;}
    .comparison-d-center{max-width: 420px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .comparison-section{margin-top: -117px;}
    .comparison-subtitle::before{width: 2px; height: 100%; top: -72px; left: 50%; max-height: 64px; position: absolute; content: ""; display: block; background: var(--Accent); transform: translateX(-50%); }
    .comparison-row:first-child .comparison-subtitle::before{max-height: 71px; top: -79px;}
    .comparison-head{gap: 40px; margin-bottom: 48px;}
    .comparison-h-block{gap: 16px; flex: 1; padding: 0 16px;}
    .comparison-h-center{flex: 0 0 168px; top: 24px;}
    .comparison-row{gap: 24px; padding: 8px 0; margin-bottom: 64px;}
    .comparison-subtitle{gap: 16px; flex: 0 0 168px; padding: 16px; position: relative;}
    .comparison-description{gap: 16px; flex: 1; }
    .comparison-d-center{max-width: 420px; font-size: 16px; line-height: 24px;}
}
@media screen and  (min-width: 768px){
    .comparison-row:last-child{padding: 0;}
    .comparison-row:last-child .comparison-subtitle{padding: 0; opacity: 0.25;}
    .comparison-row:last-child .comparison-subtitle::before{display: none;}
    .comparison-row:nth-last-of-type(2){margin-bottom: 29px;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .comparison-section{margin-top: -71px; overflow: hidden; position: relative;}
    .comparison-main{padding-bottom: 24px; }
    .comparison-head{gap: 12px;}
    .comparison-h-block{width: 126px; margin-bottom: 20px; flex: 1;}
    .comparison-h-block span{font-size: 20px; line-height: 20px; margin-bottom: 15px;}
    .comparison-h-center{flex: 0 0 40px;}
    .comparison-h-center::before{content: ""; display: block; width: 2px; height:44.5px; background: var(--Accent); top: -54px; position: absolute; left: 50%; transform: translateX(-50%);}
    .comparison-h-icon{width: 96px;}
    .comparison-h-icon svg{width: 96px; height: 96px; border-radius: 24px;}
    .vs-icon{font-size: 17px; height: 40px; line-height: 17px; width: 40px;}
    .comparison-rows::before{background-color: var(--Accent); content: ""; display: block; height: calc(100% - 74px); left: 50%; transform: translateX(-50%); width: 2px; position: absolute; top: -45px; }
    .comparison-row{display: flex !important; gap: 34px;}
    .comparison-description:first-child{order: 1;}
    .comparison-subtitle:nth-child(2n+2){order: 3;}
    .comparison-description:last-child{order: 2; }
    .comparison-description{flex: 0 0 calc(50% - 17px); gap: 16px; font-size: 16px; line-height: 24px;}
    .comparison-description p{display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; -webkit-line-clamp: 5;}
    .comparison-subtitle{max-width: 204px; padding: 12px 20px; gap: 18px; text-align: left;}
    .comparison-subtitle-icon{max-width: 40px; margin: 0;}
    .comparison-subtitle-icon svg{height: 40px; width: 40px; }
    .comparison-subtitle > span {width: calc(100% - 58px);}
    .comparison-rows button.slick-arrow{bottom: 24px; position: absolute;}
    .comparison-rows button.slick-left{left: 0;}
    .comparison-rows button.slick-next{right: 0;}
}
