table.comparison-table{margin: 0; border: none; display: block;}
table.comparison-table thead{padding: 10px; display: block; }
table.comparison-table thead tr{width: 100%; gap: 40px; align-items: center; display: flex; flex-wrap: wrap; }
table.comparison-table th{padding: 0; flex: 1; font-size: 14px; font-weight: 800; line-height: 1; letter-spacing: 1.4px; color: var(--Raisin-Black); background-color: transparent; }
table.comparison-table th:not(:first-child){flex: 0 0 122px; }
table.comparison-table th button{min-width: 122px; }
table.comparison-table tbody{padding: 10px; background-color: var(--White); border-radius: 24px; box-shadow: 0 9px 16px 0 rgba(98, 7, 84, 0.08); border: solid 1px rgba(164, 39, 143, 0.2); display: block; }
table.comparison-table tbody tr{width: 100%; gap: 40px; align-items: center; display: flex; flex-wrap: wrap; background-color: var(--White); border-radius: 8px; }
table.comparison-table tbody tr:nth-child(even){background-color: var(--Gray); }
table.comparison-table tbody td{padding: 16px; flex: 1; font-size: 20px; line-height: 1; font-weight: 700; border: none; background-color: transparent; }
table.comparison-table tbody td:not(:first-child){flex: 0 0 122px; }
table.comparison-table tbody td figure img{max-width: 32px; margin: auto; object-fit: contain; display: block; }

@media screen and (min-width: 1024px) {
    .comparison-table-main{padding: 32px 0 80px;}
}