
.contact-form-lt{border-radius: 24px 0px 0px 24px; background: linear-gradient(180deg, rgba(18, 39, 80, 0.00) 0%, rgba(18, 39, 80, 0.50) 100%), var(--Accent); color: var(--White);}
.contact-form-lt .sm-line{margin: 24px 0; background-color: var(--Raisin-Black);}
.contact-form-lt h3{color: var(--White);}
.contact-form-lt ul > li {position: relative;}
/* .contact-form-lt ul > li::before { background: url("../../images/checked-circle.svg"); width: 20px; height: 20px; background-size: contain; top: 3px; left: -28px; content: ""; position: absolute; } */
.contact-form-call{gap: 8px; align-items: center; margin-top: 34px; width: fit-content;}
.contact-form-call:hover{color: var(--Raisin-Black);}
.contact-form-rt{border-radius: 24px; background: var(--White); box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08);}
.contact-form-rt span.optional-text{margin-bottom: 40px;}
.contact-form-lists{gap: 24px;}
.contact-form-item{gap: 24px; border-radius: 8px; border: 1px solid var(--Card-Stroke); background: var(--Raisin-Tint); padding: 16px;}
.contact-form-title{flex: 1;}
.contact-form-title h6{margin-bottom: 4px;}
ul.contact-form-category{margin: 0; gap: 8px;}
ul.contact-form-category > li{padding-right: 8px; margin: 0; font-size: 14px; line-height: 21px; color: var(--Raisin-Black); border-right: 1px solid rgba(164, 39, 143, 0.5);}
ul.contact-form-category > li:before{display: none;}
ul.contact-form-category > li:first-child{padding-left: 0;}
ul.contact-form-category > li:last-child{padding-right: 0; border-right: 0;}
.contact-form-btn{width: fit-content;}

.contact-form-full .contact-form-lt, .contact-form-full .contact-form-rt{flex: 1;}
.contact-form-full .contact-form-lt{border-radius: 24px;}

@media screen and (min-width: 1024px) {
    .contact-form-main{padding: 80px 0 80px;}
    .contact-form-lt{flex: 0 0 480px; padding: 40px 80px 40px 40px;}
    .contact-form-rt{border-radius: 24px; flex: 0 0 calc(100% - 440px); padding: 48px; margin-left: -40px;}
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .contact-form-rt{padding: 32px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .contact-form-main{padding: 60px 0 40px;}
    .contact-form-lt{flex: 100%; padding: 32px 32px 80px; border-radius: 24px 24px 0px 0px;}
    .contact-form-lt .sm-line{margin: 24px 0;}
    .contact-form-call{margin-top: 24px;}
    .contact-form-rt{flex: 100%; padding: 32px; margin-top: -40px;}
    .contact-form-rt span.optional-text{margin-bottom: 24px;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .contact-form-main{padding: 33px 0 40px;}
    .contact-form-lt{flex: 100%; padding: 24px 24px 70px; border-radius: 24px 24px 0px 0px;}
    .contact-form-lt .sm-line{margin: 24px 0;}
    .contact-form-call{margin-top: 24px;}
    .contact-form-rt{flex: 100%; padding: 24px; margin-top: -40px;}
    .contact-form-rt span.optional-text{margin-bottom: 24px;}
    .contact-form-item{flex-direction: column;}
    .contact-form-btn{width: 100%;}
    .contact-form-btn .button{width: 100%;}
}