
.conter-max-head span.optional-text{margin-bottom: 11px;}
.conter-max-total{text-shadow: 4px 4px 0px rgba(164, 39, 143, 0.24); display: block; color: var(--Raisin-Black); margin-bottom: 12px;}
.conter-max-head h3{margin-bottom: 0;}

.conter-max-list{ font-size: 20px; line-height: 25px; font-weight: 600; border-radius: 24px; color: var(--Accent); border: 1px solid var(--Card-Stroke); background: var(--White); padding: 21px 16px 28px 16px; text-align: center;}
.counter-main > span{font-size: 56px; line-height: 56px; font-weight: 800;}
.conter-icon img{width: 40px; object-fit: contain;}

.conter-max-round{width: 148px; height: 148px; margin-bottom: 22px;}
svg.round-default-svg{width: 100%; height: 100%; transform: rotate(90deg);}
svg.round-default-svg circle{
    transition: stroke-dashoffset 2s linear;
    stroke-width: 14px;   
}
svg.round-default-svg circle#round-bar-glow-1{
    stroke: #A4278F;
}
svg.round-default-svg circle#round-bar-glow-2{
    stroke: #FFA90D;
}
svg.round-default-svg circle#round-bar-glow-3{
    stroke: #3BAFD3;
}
svg.round-default-svg circle#round-bar-glow-4{
    stroke: #1EA4B5;
}

.conter-max-list.yellow{border: 1px solid var(--Translucent-3); background: var(--Tint); color: var(--Text-2);}
.yellow .conter-max-icon svg path{fill: var(--Accent-4);}
.conter-max-list.light-blue{border: 1px solid var(--Translucent,-2); background: var(--Tint-2); color: var(--Text);}
.light-blue .conter-max-icon svg path{fill: var(--Accent-3);}
.conter-max-list.light-green{border: 1px solid var(--Translucent); background: var(--Tint-3); color: var(--Text-3);}
.light-green .conter-max-icon svg path{fill: var(--Accent-2);}


@media screen and (min-width: 1024px) {
    .conter-max-main{padding: 80px 0; gap: 56px;}
    .conter-max-total{font-size: 128px; line-height: 128px;}
    .conter-max-row{gap: 48px;}
    .conter-max-of-4{flex: 0 0 calc(25% - 36px);}
    .conter-max-of-3{flex: 0 0 calc(33.333% - 32px);}
    .conter-max-of-2{flex: 0 0 calc(50% - 24px);}
    .conter-max-of-1{flex: 1;}
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
    .conter-max-row{gap: 32px;}
    .conter-max-of-4{flex: 0 0 calc(25% - 24px);}
    .conter-max-of-3{flex: 0 0 calc(33.333% - 22px);}
    .conter-max-of-2{flex: 0 0 calc(50% - 16px);}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .conter-max-main{padding: 40px 0; gap: 56px;}
    .conter-max-total{font-size: 96px; line-height: 96px;}
    .conter-max-head h3{font-size: 32px; line-height: 40px; letter-spacing: -0.32px;}
    .conter-max-row{gap: 32px;}
    .conter-max-list{flex: 0 0 calc(50% - 17px);}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .conter-max-main{padding: 40px 0; gap: 32px;}
    .conter-max-total{font-size: 48px; line-height: 48px;}
    .conter-max-head h3{font-size: 24px; line-height: 30px; letter-spacing: -0.24px;}
    .conter-max-row{gap: 24px;}
}
