
.customer-support-list{font-size: 16px; line-height: 24px; color: var(--Gray-1);}
.customer-support-list h5{margin-bottom: 17px; color: var(--Coal);}
.customer-support-icon{margin-bottom: 16px;}

ul.customer-support-details{margin: 0; gap: 11px; flex-direction: column;}
ul.customer-support-details > li{margin: 0;}
ul.customer-support-details > li::before{display: none;}
ul.customer-support-details > li > a{gap: 8px; font-size: 18px; line-height: 27px; width: fit-content; color: var(--Raisin-Black);}
ul.customer-support-details > li > a:hover{color: var(--Accent);}


@media screen and (min-width: 1024px){
    .customer-support-main{gap: 40px; padding: 80px 0;}
    .customer-support-list-3{flex: 0 0 calc(33.333% - 27px);}
    .customer-support-list-2{flex: 0 0 calc(50% - 20px);}
    .customer-support-list-1{flex: 1;}
}

@media screen and (max-width: 1023px) and (min-width: 200px){
    .customer-support-main{gap: 56px; padding: 40px 0;}
    .customer-support-list{flex: 100%;}
}