
.differ-max-text{font-size: 20px; line-height: 30px; color: var(--Gray-1);}
.differ-max-text > p{color: var(--Gray-1);}
.differ-max-text span.optional-text{margin-bottom: 22px;}
.differ-max-text hr.sm-line{margin: 24px 0;}
.differ-max-text ul > li{font-weight: 700;}
.differ-max-text ul > li::before{background: url("../../images/checked-circle-pro.svg"); background-repeat: no-repeat; background-size: contain; content: ""; height: 20px; left: -28px; position: absolute; top: 5px; width: 20px; }
.differ-max-btn{gap: 12px;}

@media screen and (min-width: 1024px) {
    .differ-max-main{padding: 40px 0;}
    .differ-max-list{gap: 80px; margin-bottom: 40px;}
    .differ-max-list:last-child{margin-bottom: 0;}
    .differ-max-image, .differ-max-text{flex: 1;}
}
@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .differ-max-list{gap: 48px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .differ-max-main{padding: 40px 0;}
    .differ-max-image{flex: 100%; margin-bottom: 48px;}
    .differ-max-text{flex: 100%;}
    .differ-max-text span.optional-text{margin-bottom: 22px;}
    .differ-max-text hr.sm-line{margin: 24px 0;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .differ-max-main{padding: 40px 0;}
    .differ-max-image{flex: 100%; margin-bottom: 40px;}
    .differ-max-text{font-size: 18px; line-height: 27px; flex: 100%;}
    .differ-max-text span.optional-text{margin-bottom: 18px;}
    .differ-max-text hr.sm-line{margin: 20px 0;}
}
