.find-max-section{background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, var(--White) 100%), var(--Eggshell);}
.find-max-head{margin-bottom: 48px; gap: 8px;}
.find-max-title{flex: 1;}
.find-max-title span.optional-text{margin-bottom: 3px;}
.find-max-title h3{margin-bottom: 0;} /* font-family: "Nunito", sans-serif; */
.find-max-image{margin-bottom: 32px; padding: 8px; box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08);}
.find-max-text{padding: 0 16px; color: var(--Coal);}
.find-max-text h3{margin-bottom: 6px;}
.find-max-text p{margin-bottom: 8px;}


.accent2 .find-max-text h3{color: var(--Accent-2);}

.accent3 .find-max-text h3{color: var(--Accent-3);}

/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    .find-max-main{padding: 80px 0;}
    .find-max-head{align-items: center;}
    .find-max-title h3 > span{font-style: italic;}
    .find-max-btn{flex: 0 0 205px; text-align: right;}
    .find-max-row{gap: 40px 80px;}
    .find-max-sw{flex: 0 0 calc(50% - 40px);}
    .find-max-sw.no_find_max_img{display: flex; flex-direction: column; justify-content: center; align-items: center;}
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
    .find-max-row{gap: 40px 60px;}
    .find-max-sw{flex: 0 0 calc(50% - 30px);}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .find-max-main{padding: 80px 0;}
    .find-max-row{gap: 64px;}
    .find-max-sw{flex: 100%;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .find-max-main{padding: 40px 0;}
    .find-max-head{gap: 40px; margin-bottom: 40px; flex-direction: column;}
    .find-max-btn, .find-max-btn .button{width: 100%;}
    .find-max-row{gap: 64px;}

}





