
.functionality-thumb{background: var(--White); padding: 8px; box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08); margin-bottom: 32px;}
.functionality-text{font-size: 20px; line-height: 30px;}
.functionality-text h5{margin-bottom: 12px;}

@media screen and (min-width: 1024px) {
    .functionality-main{padding: 40px 0; gap: 56px;}
    .functionality-text{padding-left: 16px;}
    .functionality-of-3{flex: 0 0 calc(33.333% - 38px);}
    .functionality-of-2{flex: 0 0 calc(50% - 28px);}
    .functionality-of-1{flex: 1;}
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .functionality-main{gap: 30px;}
    .functionality-of-3{flex: 0 0 calc(33.333% - 20px);}
    .functionality-of-2{flex: 0 0 calc(50% - 15px);}
    .functionality-of-1{flex: 1;}
}

@media screen and (max-width: 1023px) and (min-width: 200px) {
    .functionality-main{padding: 40px 0; gap: 40px;}
}