


.max-features-list{
	border: 1px solid var(--Card-Stroke);
	color: var(--Gray-1);
	font-size: 16px;
	line-height: 24px;
	padding: 23px;
}

@media screen and (min-width: 1024px) {
    .max-features-main{padding: 80px 0;}
    .max-features-row{ gap: 36px 32px;}
    .max-features-4{flex: 0 0 calc(25% - 24px);}
    .max-features-3{flex: 0 0 calc(33.3333333333% - 24px);}
    .max-features-2{flex: 0 0 calc(50% - 24px);}
    .max-features-1{flex: 0 0 calc(100% - 24px);}
}
