
.maxassit-section{background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%), var(--Eggshell);}
.maxassit-intro{text-align: center; width: 100%; font-size: 20px; line-height: 25px; font-weight: 800; letter-spacing: -0.2px; color: var(--Raisin-Black);}
.maxassit-intro h2{font-size: 48px; line-height: 60px; letter-spacing: -0.48px; color: var(--Accent); margin-bottom: 8px;}

.maxassit-card-item{background: var(--White); border: 1px solid var(--Card-Stroke); border-radius: 16px; color: var(--Gray-2); font-size: 16px; line-height: 24px; padding: 20px 16px; transition: all .5s ease; box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08);}
.maxassit-card-icon{margin-bottom: 8px; width: 22px;}
.maxassit-card-icon svg{width: 22px;}
.maxassit-card-item h5{margin-bottom: 8px;}
.maxassit-card-item p{margin-bottom: 0;}

.maxassit-image{padding: 8px; background: var(--White); border-radius: 16px; box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08);}
.maxassit-thumb img{border-radius: 10px;}

@media screen and (min-width: 1024px) {
    .maxassit-main{padding: 80px 0;}
    .maxassit-desktop{gap: 48px;}
    .maxassit-main .book-demo-btn{margin: 0 auto;}
    .maxassit-grid{gap: 32px;}
    .maxassit-card{flex: 0 0 308px; gap: 20px;}
    .maxassit-card-item{flex: 100%;}
    .maxassit-image{flex: 1;}
    .maxassit-card-title{flex-direction: column;} 
}

@media screen and (min-width: 1280px) {
    .maxassit-mobile{display: none;}
}
@media screen and (max-width: 1279px) {
    .maxassit-desktop{display: none;}
    .maxassit-card-item h5{font-size: 20px; line-height: 25px; letter-spacing: -0.2px;}
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .maxassit-mobile{gap: 32px;}
    .maxassit-heading{gap: 48px;}
    .maxassit-intro{flex: 0 0 375px; text-align: left;}
    .maxassit-image{flex: 0 0 calc(100% - 423px);}
    .maxassit-card{gap: 24px; flex: 100%;}
    .maxassit-card-item{flex: 0 0 calc(25% - 18px);}
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .maxassit-main{padding: 40px 0;}
    .maxassit-mobile{gap: 32px;}
    .maxassit-heading{gap: 32px;}
    .maxassit-intro p{margin-bottom: 0;}
    .maxassit-card{gap: 24px; padding: 0 32px;}
    .maxassit-card-item{flex: 0 0 calc(50% - 12px);}
    .maxassit-card-title{gap: 8px; margin-bottom: 8px; flex-direction: column;} 
    .maxassit-card-title h5{margin-bottom: 0;}
    .maxassit-card-icon{margin-bottom: 0;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .maxassit-main{padding: 40px 0;}
    .maxassit-mobile{gap: 32px;}
    .maxassit-heading{gap: 32px;}
    .maxassit-intro p{margin-bottom: 0;}
    .maxassit-card{gap: 20px;}
    .maxassit-card-item{flex: 100%;}
    .maxassit-card-title{gap: 8px; margin-bottom: 8px;} 
    .maxassit-card-title h5{margin-bottom: 0;}
    .maxassit-card-icon{margin-bottom: 0;}
}