
.open-positions-lt{border-radius: 24px 0px 0px 24px; background: linear-gradient(180deg, rgba(18, 39, 80, 0.00) 0%, rgba(18, 39, 80, 0.50) 100%), var(--Accent); color: var(--White);}
.open-positions-lt .sm-line{margin: 36px 0; background-color: var(--Raisin-Black);}
.open-positions-lt h3{color: var(--White);}
.open-positions-call{gap: 8px; align-items: center; margin-top: 21px; width: fit-content; color: var(--White);}
.book-demo-main .open-positions-call{margin-top: 31px;}
.open-positions-call:hover{color: var(--Sky-Blue);}
.open-positions-rt{border-radius: 24px; background: var(--White); box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08);}
.open-positions-rt span.optional-text{margin-bottom: 40px; letter-spacing: 1.12px;}
.open-positions-lists{gap: 24px;}
.open-positions-item{gap: 24px; border-radius: 8px; border: 1px solid var(--Card-Stroke); background: var(--Raisin-Tint); padding: 15px 16px;}
.open-positions-title{flex: 1;}
.open-positions-title h6{margin-bottom: 4px;}
.open-positions-title h6 a{color: var(--Raisin-Black);}
.open-positions-title h6 a:hover{color: var(--Accent);}
ul.open-positions-category{margin: 0; gap: 8px;}
ul.open-positions-category > li{padding-right: 8px; margin: 0; font-size: 0.875rem; line-height: 1.313rem; color: rgba(48, 33, 53, 0.8); border-right: 1px solid rgba(164, 39, 143, 0.5);}
ul.open-positions-category > li:before{display: none;}
ul.open-positions-category > li:first-child{padding-left: 0;}
ul.open-positions-category > li:last-child{padding-right: 0; border-right: 0;}
.open-positions-btn{width: fit-content;}

.open-positions-full .open-positions-lt, .open-positions-full .open-positions-rt{flex: 1;}

@media screen and (min-width: 1024px) {
    .open-positions-main{padding: 80px 0;}
    .open-positions-lt{flex: 0 0 480px; padding: 40px 80px 40px 40px;}
    .open-positions-lt .open-positions-call{margin-top: 34px;}
    .open-positions-rt{border-radius: 24px; flex: 0 0 calc(100% - 440px); padding: 48px; margin-left: -40px;}
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .open-positions-lt{flex: 0 0 400px;}
    .open-positions-rt{border-radius: 24px; flex: 0 0 calc(100% - 360px); padding: 32px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .open-positions-main{padding: 40px 0;}
    .open-positions-lt{flex: 100%; padding: 32px 32px 80px; border-radius: 24px 24px 0px 0px;}
    .open-positions-lt .sm-line{margin: 24px 0;}
    .open-positions-call{margin-top: 24px;}
    .open-positions-rt{flex: 100%; padding: 32px; margin-top: -40px;}
    .open-positions-rt span.optional-text{margin-bottom: 24px;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .open-positions-main{padding: 40px 0;}
    .open-positions-lt{flex: 100%; padding: 24px 24px 80px; border-radius: 24px 24px 0px 0px;}
    .open-positions-lt .sm-line{margin: 24px 0;}
    .open-positions-call{margin-top: 24px;}
    .open-positions-rt{flex: 100%; padding: 20px; margin-top: -40px;}
    .open-positions-item{flex-direction: column;}
    .open-positions-btn{width: 100%;}
    .open-positions-btn .button{width: 100%;}
    ul.open-positions-category{gap: 5px 8px;}
    ul.open-positions-category > li{line-height: 1.125rem;}
}