
.optional-repeater-thumb{padding: 8px; background: var(--White); border-radius: 16px; box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08);}
.optional-repeater-thumb img{border-radius: 10px;}
.optional-repeater-text{font-size: 20px; line-height: 30px;}
.optional-repeater-text > p{color: var(--Gray-1);}
.optional-repeater-text span.optional-text{margin-bottom: 22px;}
.optional-repeater-text hr.sm-line{margin: 24px 0;}

@media screen and (min-width: 1024px) {
    .optional-repeater-main{padding: 40px 0;}
    body.page-template-about-careers .optional-repeater-section:nth-child(3) .optional-repeater-main{padding: 80px 0 40px;}
    body.page-template-about-careers .optional-repeater-section:nth-child(7) .optional-repeater-main{padding: 40px 0 80px;}
    body.page-template-about-affiliate .optional-repeater-section:nth-child(2) .optional-repeater-main{padding: 80px 0 40px;}
    body.page-template-about-affiliate .optional-repeater-section:nth-child(4) .optional-repeater-main{padding: 40px 0 80px;}
    .reverse{flex-direction: row-reverse;}
    .optional-repeater-list{gap: 80px; margin-bottom: 40px;}
    .optional-repeater-list:last-child{margin-bottom: 0;}
    .optional-repeater-image, .optional-repeater-text{flex: 1;}
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .optional-repeater-list{gap: 48px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .optional-repeater-main{padding: 40px 0;}
    .optional-repeater-image{flex: 100%; padding-bottom: 48px;}
    .optional-repeater-text{flex: 100%;}
    .optional-repeater-text span.optional-text{margin-bottom: 22px;}
    .optional-repeater-text hr.sm-line{margin: 24px 0;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .optional-repeater-main{padding: 40px 0;}
    .optional-repeater-image{flex: 100%; padding-bottom: 40px;}
    .optional-repeater-text{font-size: 18px; line-height: 27px; flex: 100%;}
    .optional-repeater-text span.optional-text{margin-bottom: 18px;}
    .optional-repeater-text hr.sm-line{margin: 20px 0;}
}