
.our-team-title{flex: 1; padding-right: 64px;}
.our-team-title h1{margin-bottom: 0;}
.our-team-title::after{content: ''; position: absolute; top: 0; right: 0; height: 100%; width: 2px; background-color: var(--Accent);}
.our-team-title span.optional-text{margin-bottom: 22px;}
.our-team-desc{flex: 1; padding-left: 64px; font-size: 20px; line-height: 30px; color: var(--Gray-1);}

.our-team-full .our-team-title, .our-team-full .our-team-desc{padding: 0;}
.our-team-full .our-team-title::after{display: none;}

@media screen and (min-width: 1024px) {
    .our-team-main{padding: 78px 0 72px;}
}
@media screen and (max-width: 1023px) and (min-width: 200px) {
    .our-team-main{padding: 64px 0 40px;}
    .our-team-title{flex: 100%; padding: 0 0 24px;}
    .our-team-title::after{top: auto; bottom: 0; left: 0; right: auto; height: 2px; width: 100%;}
    .our-team-title h1{margin-bottom: 0;}
    .our-team-desc{flex: 100%; padding: 24px 0 0;}
}