
.partner-banner-section{background: linear-gradient(180deg, rgba(164, 39, 143, 0.00) 50%, rgba(164, 39, 143, 0.40) 100%), var(--Raisin-Black, #302135);}
.partner-banner-title h1{color: var(--White);}
.partner-banner-title h1 > span{position: relative; z-index: 1;}
.partner-banner-title h1 > span::before{background: var(--Accent); border-radius: 8px; bottom: 0; content: ""; display: inline-block; height: 24px; opacity: .4; position: absolute; width: 100%; z-index: -1;}

@media screen and (min-width: 1024px) {
    .partner-banner-main{padding: 145px 0 248px;}
}