
.partner-image{gap: 12px;}
.partner-thumb{min-height: 104px; background: var(--White); border-radius: 17.333px; border: 1.083px solid rgba(165, 24, 144, 0.10); box-shadow: 0px 9.75px 17.333px 0px rgba(98, 7, 84, 0.08); transition: all .5s ease;}
.partner-thumb img{height: 52.5px; opacity: 0.8;}
.partner-thumb:hover img{opacity: 1;}
.partner-text{font-size: 20px; line-height: 30px; color: var(--Gray-1);}
.partner-text > p{color: var(--Gray-1);}
.partner-text span.optional-text{margin-bottom: 22px;}
.partner-text ul > li{font-weight: 700;}
.partner-text ul > li::before{background: url("../../images/checked-circle-pro.svg"); background-repeat: no-repeat; background-size: contain; content: ""; height: 20px; left: -28px; position: absolute; top: 5px; width: 20px; }
.partner-btn{gap: 12px;}

@media screen and (min-width: 1024px) {
    .partner-main{padding: 40px 0;}
    .reverse{flex-direction: row-reverse;}
    .partner-list{gap: 80px; margin-bottom: 40px;}
    .partner-list:last-child{margin-bottom: 0;}
    .partner-image, .partner-text{flex: 1;}
    .partner-thumb {flex: 0 0 calc(33.333% - 8px);}
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .partner-list{gap: 64px;}
    .partner-thumb {flex: 0 0 calc(50% - 8px);}
    .partner-text{flex: 0 0 440px;}
    .partner-image{flex: 0 0 calc(100% - 504px);}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .partner-main{padding: 40px 0;}
    .partner-image{flex: 100%; padding-bottom: 48px;}
    .partner-text{flex: 100%;}
    .partner-text span.optional-text{margin-bottom: 22px;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .partner-main{padding: 40px 0;}
    .partner-image{flex: 100%; padding-bottom: 48px;}
    .partner-text{font-size: 18px; line-height: 27px; flex: 100%;}
    .partner-text span.optional-text{margin-bottom: 16px;}
    .partner-text h3{margin-bottom: 16px;}
    .partner-thumb {flex: 0 0 calc(33.333% - 8px); border: 0.684px solid rgba(165, 24, 144, 0.10); border-radius: 10.937px; box-shadow: 0px 6.152px 10.937px 0px rgba(98, 7, 84, 0.08); min-height: 64.5px;}
    .partner-thumb img{height: 32.5px;}
}