

.pdetail-banner-section{background-color: var(--White);}
.pdetail-gradient-bg{height: calc(100% - 60px); width: 100%; top: 0; left: 0; z-index: -1; background: linear-gradient(180deg, rgba(164, 39, 143, 0.00) 50%, rgba(164, 39, 143, 0.40) 100%), var(--Raisin-Black); }
.pdetail-banner-text{font-size: 1.25rem; line-height: 1.875rem; padding-bottom: 42px;}
.pdetail-banner-text span.optional-text.lg{margin-bottom: 5px; color: var(--Accent-Purple);}
.pdetail-banner-text h1{color: var(--White); letter-spacing: normal;}
.pdetail-banner-btn{gap: 12px; margin-top: 32px;}
.pdetail-banner-thumb img{opacity: 0.2;}


ul.pdetail-ui-links li{margin: 0;}
ul.pdetail-ui-links li::before{display: none;}
ul.pdetail-ui-links li a{display: block; font-size: 0.875rem; line-height: 1; letter-spacing: 1.4px; font-weight: 800; color: var(--White-50); text-transform: uppercase; position: relative; text-align: center;}
ul.pdetail-ui-links li a.ui-open{color: var(--White);}
ul.pdetail-ui-links li a.ui-open span{opacity: 1;}
.pdetail-ui-line{width: 100%; height: 4px;  opacity: 0.5; background-color: var(--Accent); content: ""; display: block; top: calc(100% + 8px);}
ul.pdetail-ui-links li a.ui-open .ui-active-state{width: 0; background-color: var(--Sky-Blue);}
.ui-state{transition: all 0.3s ease;}
.pdetail-ui-tab:first-child{display: block;}
.pdetail-ui-tab{display: none;}
.pdetail-ui-center{position: relative;}
.pdetail-banner-main.no_pdetail-banner-uis{padding-bottom: 80px;}

.pdetail-banner-text h1 > span{padding: 0 8px;}

/*-- media css starts here --*/
@media screen and (min-width: 1440px){
    .pdetail-ui-center picture img{min-width: 1440px; left: 50%; transform: translateX(-50%); position: relative;}
}
@media screen and (min-width: 1024px) {
    .pdetail-banner-main{padding: 150px 0 0;}
    .pdetail-banner-text{max-width: 970px;}
    .pdetail-banner-text.no_banner_bg{max-width: 100%;}
    ul.pdetail-ui-links{margin: 56px 0 60px; gap: 32px 8px;}
    body.home ul.pdetail-ui-links{margin: 56px 0 68px;}
    ul.pdetail-ui-links li a{min-width: 256px;}
    .pdetail-ui-center{position: relative;}
    .pdetail-ui-center picture img{ object-fit: contain; overflow: hidden;}
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
    ul.pdetail-ui-links li a{min-width: 225px; }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .pdetail-banner-main{padding: 145px 0 0;}
    .pdetail-ui-center{margin-bottom: -8px;}
    .pdetail-banner-text span.optional-text{margin-bottom: 32px;}
    .pdetail-banner-text hr.sm-line{margin: 32px 0;}
    ul.pdetail-ui-links{margin: 56px 0; gap: 32px 8px;}
    ul.pdetail-ui-links li a{min-width: 166px;}   
    .pdetail-ui-left{left: 0; max-width: 256px; top: 55px; }
    .pdetail-ui-right{top: 35px; right: 0; max-width: 256px;}
    .pdetail-ui-right img, .pdetail-ui-right img:last-child{margin-bottom: 6px;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .pdetail-banner-main{padding: 128px 0 0;}
    body.home .pdetail-banner-main{padding: 112px 0 0;}
    .pdetail-banner-text{padding-bottom: 17px;}
    .pdetail-banner-text span.optional-text.lg{margin-bottom: 21px;}
    .pdetail-banner-text h1{font-size: 2rem; line-height: 2.5rem; letter-spacing: -0.32px;}
    .pdetail-banner-text hr.sm-line{margin: 24px 0;}
    ul.pdetail-ui-links{display: block; max-width: 256px; margin: 38px auto 56px;}
    body.home ul.pdetail-ui-links{margin: 38px auto 52px;}
    ul.pdetail-ui-links li a{display: none; line-height: 1.125rem;}
    ul.pdetail-ui-links li a.ui-open{display: block;}
}
