
.podcast-title{flex: 100%;}
.podcast-title span.optional-text{font-size: 12px; letter-spacing: 1.2px; line-height: 12px; margin-bottom: 6px;}
.podcast-title .h4{margin: 0;}
.podcast-rows{flex: 100%;}
.podcast-list{background-color: var(--White); padding: 12px; gap: 18px;}
a.podcast-list{color: var(--Raisin-Black);}
a.podcast-list:hover{color: var(--Accent);}
.podcast-image{flex: 0 0 24px;}
.podcast-icon svg{max-width: 24px;}
.podcast-name{flex: 1;}
.podcast-name::before{content: ""; position: absolute; width: 1px; height: 100%; top: 0; left: -12px; background-color: rgba(48, 33, 53, 0.25);}
.podcast-name span{font-size: 14px; line-height: 21px; display: block; color: rgba(48, 33, 53, 0.5);}
.podcast-name .h6{font-size: 16px; line-height: 24px; letter-spacing: normal; margin: -2px 0 0;}

body.single-post .resource-article ul:not(.resource-article-details){margin: 0 0 26px 32px;}
body.single-post .resource-article ul:not(.resource-article-details) > li::before{background: url("../../images/checked-circle-pro.svg"); background-repeat: no-repeat; background-size: contain; content: ""; height: 20px; left: -32px; position: absolute; top: 3px; width: 20px; }
body.single-post .resource-article .divider-line{margin: 56px 0;}

@media screen and (min-width: 1024px){
    .podcast-main{margin: 40px 0; gap: 24px;}
    .podcast-rows{gap: 16px;}
    .podcast-list-of-4{flex: 0 0 calc(25% - 12px);}
    .podcast-list-of-3{flex: 0 0 calc(33.333% - 11px);}
    .podcast-list-of-2{flex: 0 0 calc(50% - 8px);}
    .podcast-list-of-1{flex: 1;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .podcast-main{margin: 40px 0; gap: 32px;}
    .podcast-rows{gap: 20px;}
    .podcast-list{flex: 0 0 calc(50% - 10px);}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .podcast-main{margin: 40px 0; gap: 24px;}
    .podcast-rows{gap: 16px;}
    .podcast-list{flex: 100%;}
    body.single-post .resource-article .divider-line{margin: 40px 0;}
    body.single-post .resource-article ul:not(.resource-article-details){margin: 0 0 26px 32px;}
    body.single-post .resource-article ul:not(.resource-article-details) > li::before{left: -32px;}
}
