
.products-gradient-bg{height: calc(100% - 190px); width: 100%; top: 0; left: 0; z-index: -1; background: linear-gradient(180deg, rgba(164, 39, 143, 0.00) 50%, rgba(164, 39, 143, 0.40) 100%), var(--Raisin-Black); }
.products-banner-text{font-size: 20px; line-height: 30px;}
.products-banner-text h1{color: var(--White);}
.products-banner-text h1 > span{position: relative; z-index: 1; font-style: italic;}
.products-banner-text h1 > span::before{background: var(--Accent); border-radius: 8px; bottom: 0; content: ""; display: inline-block; height: 24px; opacity: .4; position: absolute; z-index: -1;}
.products-banner-text span.optional-text{font-size: 18px; letter-spacing: 1.8px; line-height: 18px; margin-bottom: 6px;}
.products-banner-btn{gap: 12px; margin-top: 32px;}
.products-banner-thumb img{opacity: 0.2;}

.products-banner-us{padding: 40px 40px 64px; box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08); margin: 63px 0 30px;}
.products-banner-us span.optional-text{font-size: 18px; letter-spacing: 1.8px; line-height: 18px; margin-bottom: 32px;}
.products-form-text{text-align: left; font-size: 20px; line-height: 20px; color: var(--Indigo); margin-bottom: 16px;}
.products-form-fields{gap: 24px; text-align: left;}
.products-form-field{flex: 100%; background: var(--Raisin-Tint); padding: 6px 24px; border-radius: 16px; min-height: 64px; gap: 24px;}
.products-form-field label{padding: 0; position: relative; font-size: 20px; line-height: 32px; color: var(--Indigo); cursor: pointer; gap: 12px;}
.products-form-field input{width: 32px; height: 32px; background: var(--White); border-radius: 50%; margin: 0; padding: 0; margin: 0; position: relative; top: 0; left: 0; }
.products-form-field:first-child input{border-radius: 8px;}
.products-form-field input[type="radio"]:checked{background-color: var(--Accent); content: ""; background-image: url("../../images/check-solid.svg"); color: var(--Accent); background-size: 14px; background-position: center; background-repeat: no-repeat; transition: none; }
.products-form-dropdown .selectBox-dropdown{background: var(--White); font-weight: 800;}
.products-form-field:first-child label{font-weight: 600;}
.products-form-field:not(:first-child){ justify-content: space-between;}
.products-form-field > span{font-size: 20px; line-height: 20px; color: var(--Indigo); font-weight: 800;}
.products-radio-main{gap: 24px; width: fit-content;}
.products-radio-btn label{position: relative; cursor: pointer; padding-left: 40px;}
.products-radio-btn input{width: 32px; height: 32px; background: var(--White); border-radius: 50%; margin: 0; padding: 0; margin: 0; position: absolute; top: 0; left: 0; }


@media screen and (min-width: 1024px) {
    .products-banner-main{padding: 150px 0 80px;}
    .products-banner-text.no_banner_bg{max-width: 100%;}
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .products-banner-main{padding: 145px 0 80px;}
    .products-banner-text span.optional-text{margin-bottom: 32px;}

    .products-form-field{padding: 16px; gap: 16px;}
    .products-form-field > span{width: 100%;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .products-banner-main{padding: 112px 0 0;}
    .products-banner-text span.optional-text{margin-bottom: 8px;}
    .products-banner-text h1{font-size: 32px; line-height: 40px; letter-spacing: -0.32px;}
    .products-banner-text h1 > span::before{bottom: -4px;}
    .products-gradient-bg{height: calc(100% - 554px);}

    .products-banner-us{padding: 24px 16px 48px; margin: 48px 0 20px;}
    .products-banner-us span.optional-text{font-size: 14px; letter-spacing: 1.12px; line-height: 17.5px; margin-bottom: 16px;}
    .products-form-fields{gap: 16px; flex-direction: column;}
    .products-form-field{padding: 16px; gap: 16px;}
    .products-form-field > span{width: 100%;}
    .products-form-field label{gap: 8px 12px; font-size: 16px; line-height: 24px;}
    .products-form-field input{width: 24px; height: 24px;}
    .products-form-dropdown{width: 100%; max-width: 286px;}
    .products-form-field:last-child .products-radio-main{gap: 16px;}
    .products-form-submit{bottom: -20px; left: 0; right: 0; position: absolute;}
}
