
.resource-document-heading{font-size: 20px; line-height: 30px; color: var(--Gray-1);}
.resource-document-heading span.optional-text{margin-bottom: 17px;}

ul.filter-category{margin: 0 0 24px 0; gap: 8px;}
ul.filter-category li{margin: 0;}
ul.filter-category li::before{display: none;}
ul.filter-category li a{min-width: 112px; display: block; text-align: center; font-size: 14px; line-height: 14px; letter-spacing: 1.4px; text-transform: uppercase; padding: 0 11.5px 8px; color: var(--Raisin-Black); position: relative; z-index: 0; opacity: 0.5; }
ul.filter-category li a::before, ul.filter-category li a::after{ content: ""; display: block; height: 4px; position: absolute; bottom: 0; left: 0; z-index: -2; transform-origin: right center; transition: width 1.2s cubic-bezier(.19,1,.22,1); border-radius: 2px;}
ul.filter-category li a::before { background: var(--Sky-Blue); width: 0px; right: 0; margin: auto; z-index: -1; border-radius: 2px;}
ul.filter-category li a::after { width: 100%; background: var(--Accent); }
ul.filter-category li.tab-open a, ul.filter-category li a:hover { opacity: 1; }
ul.filter-category li.tab-open a::before{ width: 100%; }
ul.filter-category li a:hover::before { width: 100%; }

.filter-doc-row{display: none;}
.filter-doc-lists{gap: 24px; flex-direction: column;}
.filter-doc-list{gap: 24px; border-radius: 8px; border: 1px solid var(--Card-Stroke); background: var(--White); padding: 16px;}
.resource-document-title{flex: 1;}
.resource-document-title h6{margin-bottom: 4px;}
.resource-document-title h6 a:hover{color: var(--Accent);}
ul.resource-sub-category{margin: 0; gap: 8px;}
ul.resource-sub-category > li{padding-right: 8px; margin: 0; font-size: 14px; line-height: 21px; color: var(--Raisin-Black); border-right: 1px solid rgba(164, 39, 143, 0.5);}
ul.resource-sub-category > li:before{display: none;}
ul.resource-sub-category > li:first-child{padding-left: 0;}
ul.resource-sub-category > li:last-child{padding-right: 0; border-right: 0;}
ul.resource-sub-category > li a{cursor: pointer;}
ul.resource-sub-category > li a:hover{color: var(--Accent);}
.resource-document-btn{width: fit-content;}

.resource-search form > span{position: absolute; right: 17px; top: 18px; font-size: 14px; color: var(--Accent); cursor: pointer;}
.resource-document-filter{gap: 20px;}
.resource-search, .resource-dropdown{flex:100%;}

.resource-dropdown > span{position: absolute; right: 17px; top: 17px; font-size: 16px; color: var(--Accent); cursor: pointer;}
.resource-document-full .resource-document-desc, .resource-document-full .resource-document-heading{flex: 1;}

/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    .resource-document-main{padding: 90px 0; gap: 80px;}
    .resource-document-heading{flex: 0 0 352px}
    .resource-document-desc{flex: 0 0 calc(100% - 432px);}
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
    .resource-document-main{padding: 90px 0; gap: 64px;}
    .resource-document-heading{flex: 0 0 280px}
    .resource-document-desc{flex: 0 0 calc(100% - 344px);}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .resource-document-main{padding: 40px 0; gap: 56px;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .resource-document-main{padding: 40px 0; gap: 56px;}
    .filter-doc-list{flex-direction: column;}
    .resource-document-btn{width: 100%;}
    .resource-document-btn .button{width: 100%;}
}
