
ul.resource-article-details{margin: 20px 0; gap: 13px;}
body.single-post ul.resource-article-details{margin: 20px 0; }
ul.resource-article-details > li{margin: 0; position: relative; line-height:15px;}
ul.resource-article-details > li::before{content: ""; position: static; top: 0; left: -13px; margin-right: 13px; height: 100%; width: 2px; border-radius: 1px; opacity: 0.25; background: var(--Raisin-Black);}
ul.resource-article-details > li:first-child::before{display: none;}
ul.resource-article-details > li{font-size: 12px; line-height: 12px; font-weight: 800; letter-spacing: 1.2px; text-transform: uppercase; color: var(--Accent); position: relative; padding: 2px 0; display: flex;}
ul.resource-article-details > li > a{color: var(--Accent);}
ul.resource-article-details > li > a:hover{color: var(--Raisin-Black);}

.resource-article > p:first-of-type span{font-size: 24px; line-height: 36px; color: var(--Raisin-Black);}
.resource-article h2, .resource-article h3, .resource-article h4{margin-top: 56px;}
.resource-article .h5{margin-bottom: 24px;}

.short-subhead-thumb{max-width: 1024px; margin: 56px auto;}

.article-caption-thumb{background: var(--Raisin-Tint); padding: 4px 4px 24px 4px; margin: 56px 0;}
.article-caption-thumb figcaption{font-size: 14px; font-style: italic; font-weight: 400; line-height: 22px; padding: 24px 16px 0; color: var(--Raisin-Black);}
.article-caption-thumb.no_figcaption{background: transparent; padding: 0;}

.article-subtitle{font-size: 32px; line-height: 40px; letter-spacing: -0.64px; margin: 56px 0;}
.article-subtitle p > a{color: var(--Accent); border-bottom: 4px solid var(--Translucent); background: transparent; padding: 0; border-radius: 0;}
.article-subtitle p > a:hover{border-color: var(--Accent);}

.article-testimonial{background: var(--White); box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08); padding: 32px 30px 30px; margin: 56px 0;}
.article-testimonial-main{font-size: 24px; line-height: 36px;}
.article-testimonial-icon{display: flex; margin-bottom: 20px;}
.article-testimonial-details{gap: 16px; margin-top: -8px;}
.article-testimonial-image{width: 60px;}
.article-testimonial-image img{border: 2px solid rgba(18, 39, 80, 0.20);}
.article-testimonial-name > span{font-size: 12px; line-height: 15px; font-weight: 800; display: block; color: rgba(48, 33, 53, 0.5);}
.article-testimonial-name > span:first-child{font-size: 20px; line-height: 25px; letter-spacing: -0.2px; color: var(--Raisin-Black); margin-bottom: 4px;}

.cta-main{gap: 40px; align-items: flex-end; max-width: 1024px; margin: 56px auto; background: linear-gradient(180deg, rgba(18, 39, 80, 0.00) 0%, rgba(18, 39, 80, 0.50) 100%), var(--Accent); box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08); padding: 46px 48px 0px;}
.cta-text, .cta-image{flex: 1;}
.cta-text{color: var(--White);}
.cta-text span.optional-text{color: var(--Sky-Blue); letter-spacing: 0.7px; margin-bottom: 6px;}
.cta-text .h3{margin-top: 0; color: var(--White); padding: 0;}
.cta-text hr.sm-line{background-color: var(--Raisin-Black); margin: 24px 0;}
.cta-text p{margin-bottom: 24px;}
.cta-thumb img{border-radius: 8px 8px 0px 0px;}
.no_cta_text .cta-thumb img{border-radius: 16px 16px 0px 0px;}

.resource-article .accordion-main{padding: 0;}

.author-section{background: var(--White); box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08); margin-top: 56px;}
.author-main{padding:22px 24px; gap: 32px;}
.author-image{flex: 0 0 160px; margin: 0 auto;}
.author-text{flex: 0 0 calc(100% - 192px); font-size: 16px; line-height: 24px;}
.author-text h5{margin-bottom: 13px; color: var(--Accent);}
.author-text p:not(:last-child){margin-bottom: 12px;}

.resource-video-main{max-width: 1040px; margin: 0 auto 56px; border: 8px solid var(--White); box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08);}
.resource-video-main iframe, .resource-video-main video{width: 100%; height: 100%; min-height: 576px; border-radius: 10px;} 

.author-full .author-text{flex: 100%;}

.resource-aside{position: fixed; top: 132px; right: 0; z-index: 1;}
.resource-aside.opa{opacity: 0;}

body.single-post .cta-main{margin-bottom: 0;}

.cta-main.no-cta-heading{align-items: flex-start;}

@media screen and (min-width: 1024px) {
    .resource-article-main{padding: 72px 0 80px;} 
    .no_cta_section .resource-article-main{padding-bottom: 40px;}
    .cta-text{padding-bottom: 40px;}
    .resource-video-bg img{min-height: 576px;}
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .cta-text .h3{font-size: 34px; line-height: 40px;}
}

@media screen and (max-width: 1023px) and (min-width: 200px) {
    .resource-article-main{padding: 32px 0 40px;} 
    .resource-article{width: 100%;}
    ul.resource-article-details{gap: 8px 13px;}
    .resource-article > span:first-of-type{font-size: 20px; line-height: 30px;}
    .resource-article h2, .resource-article h3, .resource-article h4{margin-top: 40px;}
    .short-subhead-thumb{margin: 40px 0;}
    .article-caption-thumb{margin: 40px 0;}
    .article-subtitle{margin: 40px 0;}
    .article-testimonial{margin: 40px 0; padding: 24px;}
    .article-testimonial-main{font-size: 20px; line-height: 30px;}
    .cta-main{padding: 22px 24px 0; margin: 40px auto; gap: 24px;}
    .cta-text{width:100%;}
    .cta-text hr.sm-line{margin: 20px 0;}
    .cta-image{flex: 100%;}
    .author-section{margin-top: 40px; border-radius: 24px;}
    .author-main{flex-direction: column; align-items: flex-start; }
    .author-image{margin: 0; width: 160px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .cta-thumb img{border-radius: 16px 16px 0 0;}
    .resource-video-main iframe, .resource-video-main video{min-height: 400px;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .resource-article h1{font-size: 40px; line-height: 50px; letter-spacing: -0.4px;}
    /* ul.resource-article-details > li:nth-child(2n + 1)::before{display: none;} */
    .cta-text .book-demo-btn{width: 302px; margin-top: -5px;}
    .cta-text .book-demo-btn .button{padding: 15px 17px;}
    .resource-video-main{margin: 0 auto 30px; width: calc(100% + 16px); left: -8px; position: relative;}
    .resource-video-main iframe, .resource-video-main video{min-height: 197px;}
    body.single-post ul.resource-article-details{margin: 24px 0 20px;}
}

@media screen and (max-width: 389px) and (min-width: 200px) {
    .cta-text .book-demo-btn{gap: 5px; width: 100%;}
    .cta-text .book-demo-btn .button{padding: 13px 10px;}
    .cta-text .book-demo-call{ font-size: 14px;}


}

