
.single-testimonial-main{border-radius: 24px; background: linear-gradient(180deg, rgba(18, 39, 80, 0.19) 0%, rgba(18, 39, 80, 0.75) 100%), var(--Accent); padding: 12px;}
.single-testimonial-thumb img{border-radius: 12px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(18,39,80,.2) 0px 0px 0px 4px;}
.single-testimonial-quote{top: 45px; right: -6px; width: 40px; height: 33px;}
.single-testimonial-quote svg{width: 40px; height: 33px;}
.no-author-img{position: relative;}
.no-author-img::before{content: ""; position: absolute; width: 27px; height: 22px; top: 45px; left: 8px; top: 40px; background-image: url("../../images/double-quote.svg"); background-size: cover; transform: rotate(180deg) scaleX(-1);}
.single-testimonial-text{font-size: 28px; line-height: 42px; color: var(--White);}

.single-testimonial-text p{margin-bottom: 0;}
.single-author-details{margin-top: 20px;}
.single-author-details span:last-child{font-size: 12px; font-weight: 800; line-height: 15px; color: var(--White); opacity: 0.5; margin-top: 4px; display: block;}
.single-author-name{font-size: 20px; font-weight: 800; line-height: 25px; letter-spacing: -0.2px; display: block;}

.single-testimonial-full .single-testimonial-text{flex: 1; padding: 32px;}

@media screen and (min-width: 1024px) {
    .single-testimonial-main{gap: 42px; margin: 40px 0;}
    .single-testimonial-image{flex: 0 0 400px;}
    .single-testimonial-text{flex: 0 0 calc(100% - 442px); padding: 32px 32px 32px 0;}
}


@media screen and (max-width: 1023px) and (min-width: 200px) {
    .single-testimonial-main{padding: 0; gap: 33px; margin: 40px 0;}
    .single-testimonial-image{width: 100%;}
    .single-testimonial-thumb img{border-radius: 20px;}
    .single-testimonial-quote{left: 16px; bottom: -17px; top: auto; right: auto;}
    .single-testimonial-text{font-size: 16px; line-height: 24px; padding: 0 20px 24px;}
}