


.stat-testimonial-wrap{padding: 80px 0;}
.stat-testimonial-main{padding: 48px;}
.stat-testimonial-left{padding: 4px; background-image: linear-gradient(to bottom, rgba(18, 39, 80, 0.25), #122750 200%), linear-gradient(to bottom, #a4278f, #a4278f);}
.stat-testimonial-text{padding: 34px; font-size: 24px; line-height: 36px;}
.stat-testimonial-point{  border: solid 1px rgba(23, 125, 138, 0.2); background-color: var(--Tint-3);color: var(--Text-3);}
.stat-point {font-size: 80px;line-height: 80px;font-weight: 800;}
.stat-testimonial-point{padding: 32px;}


/*-- media css starts here --*/
@media screen and (min-width: 1024px) {
    .stat-testimonial-main{gap: 34px;}
    .stat-testimonial-left{flex: 1;}
    .stat-testimonial-image{flex: 0 0 160px;}
    .stat-testimonial-text{flex: 1;}
    .stat-testimonial-right{flex: 0 0 267px;}
}