
.training-head span.optional-text{margin-bottom: 8px;}
.training-head h3{margin-bottom: 0;}

.training-item{background-color: var(--White); padding: 32px; font-size: 16px; line-height: 24px; color: var(--Gray-1);}
.training-icon{margin-bottom: 4px;}
.training-icon svg{width: 40px; height: 40px;}
.training-item h5{margin-bottom: 13px;}
.training-item p{margin-bottom: 20px;}
.training-details{gap: 12px; padding-top: 20px; border-top: 2px solid rgba(164, 39, 143, 0.2); margin-top: 20px;}
.training-details-main{gap: 24px;}
.modules-details, .hours-details, .platinum-details{gap: 8px; width: fit-content;}
.modules-details-icon, .hours-details-icon, .platinum-details-icon{flex: 0 0 16px; display: flex; align-items: center;}
.modules-details-icon svg, .hours-details-icon svg, .platinum-details-icon svg{width: 16px; height: 16px;}
.modules-details-text, .hours-details-text, .platinum-details-text{font-size: 16px; line-height: 24px; color: var(--Raisin-Black); flex: 1;}
.platinum-details-text{color: var(--Accent-3);}

ul.kickstart-training-details{gap: 12px; padding-top: 20px; border-top: 2px solid rgba(164, 39, 143, 0.2); margin: 20px 0 0;}
ul.kickstart-training-details > li{gap: 8px; margin-bottom: 0; width: 100%; align-items: flex-start;}
ul.kickstart-training-details > li::before{display: none;}
ul.kickstart-training-details > li .kickstart-icon{flex: 0 0 16px; top: 3px; position: relative;}
ul.kickstart-training-details > li .kickstart-icon svg{width: 16px; height: 16px;}
ul.kickstart-training-details > li .kickstart-text{font-size: 16px; line-height: 24px; color: var(--Raisin-Black); flex: 1;}

.training-cta{gap: 24px; padding: 16px 16px 16px 32px;}
.training-cta h4{margin-bottom: 0;}
.training-cta h4 > span{position: relative; z-index: 1;}
.training-cta h4 > span::before{background: var(--Accent-3); border-radius: 8px; bottom: 0; content: ""; display: inline-block; height: 16px; opacity: .4; position: absolute; z-index: -1;}

@media screen and (min-width: 1024px) {
    .training-main{padding: 80px 0; gap: 48px;}
    .training-lists{gap: 40px;}
    .training-item{flex: 0 0 calc(33.333% - 27px);}
}

@media screen and (max-width: 1279px) and (min-width: 1024px){
    .training-cta{padding: 16px;}
    .training-lists{gap: 30px;}
    .training-item{flex: 0 0 calc(33.333% - 20px); padding: 25px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .training-main{padding: 40px 0; gap: 32px;}
    .training-lists{gap: 32px; justify-content: center;}
    .training-item{flex: 0 0 calc(50% - 16px);}
    .training-cta{padding: 0; text-align: center; flex-direction: column;}
}
@media screen and (min-width: 768px){
    .training-main-appends{display: none;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .training-main{padding: 40px 0; gap: 32px;}
    .training-lists.slick-slider .slick-list{width: 100vw;}
    .training-lists.slick-slider .slick-track{display: flex;}
    .training-lists.slick-slider .slick-slide{width: 312px; margin-right: 24px; height: auto;}
    .training-lists.slick-slider .slick-slide > div{width: 100%; height: 100%;}
    .training-item{padding: 24px; height: 100%;}
    .training-lists .slick-list{overflow: inherit;}
    .training-main-appends{gap: 8px; align-items: center;}
    .training-main-appends button.slick-arrow.slick-next{order: 3;}
    .training-main-appends ul.slick-dots{order: 2; flex: 1; margin: 0; text-align: center;}
    ul.training-slick-dots li::before{display: none;}
    ul.training-slick-dots li{display: none; margin: 0;}
    ul.training-slick-dots li.slick-active{display: block;}

    .training-cta{padding: 0; text-align: center;}
    .training-cta h4{font-size: 24px; letter-spacing: -.24px; line-height: 30px;}
    .training-cta .button{width: 100%;}
}

