
.you-might-main{background: var(--White); box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08);}
.you-might-title span.optional-text{margin-bottom: 4px;}
.you-might-title h3{margin-bottom: 0;}

.you-might-list{padding: 8px;}
.you-might-bg{border: 1px solid var(--Translucent);}
ul.you-might-categories{margin: 0 0 16px; gap: 10px 24px;}
ul.you-might-categories > li{margin: 0; position: relative; line-height:15px;}
ul.you-might-categories > li::before{content: ""; position: static; top: 0; left: -13px; height: 100%; width: 2px; border-radius: 1px; opacity: 0.25; background: var(--Raisin-Black); margin-right: 13px;}
ul.you-might-categories > li:first-child::before{display: none;}
ul.you-might-categories > li{font-size: 0.75rem; line-height: 0.75rem; font-weight: 800; letter-spacing: 1.2px; text-transform: uppercase; color: var(--Accent); position: relative; padding: 2px 0; display: flex;}
ul.you-might-categories > li > a:hover{color: var(--Raisin-Black);}

.you-might-text{padding: 24px 16px;}
.you-might-text h2:last-child{margin-bottom: 0;}
.you-might-text h2 a{color: var(--Raisin-Black);}
.you-might-text h2 a:hover{color: var(--Accent);}



/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    body.single-post .you-might-main, body.single-post .you-might-main, body.page-template-services-overview .you-might-main{margin: 90px 0 20px;}
    .you-might-main{gap: 40px; padding: 46px 48px 48px; margin: 90px 0 80px;}
    .you-might-heading{gap: 80px; align-items: end;}
    .you-might-title{flex: 1;}
    .you-might-rows{gap: 40px;}
    .you-might-of-3{flex: 0 0 calc(33.33333333% - 27px);}
    .you-might-of-2{flex: 0 0 calc(50% - 20px);}
    .you-might-of-1{flex: 1;}
    .you-might-card figure img{max-height: 198px; overflow: hidden; min-height: 198px;}
}
@media screen and (max-width: 1439px) and (min-width: 1280px){
    .you-might-main{padding: 40px;}
    .you-might-rows{gap: 32px;}
    .you-might-of-3{flex: 0 0 calc(33.33333% - 22px);}
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
    .you-might-main{padding: 32px; gap: 32px;}
    .you-might-rows{gap: 24px;}
    .you-might-of-3{flex: 0 0 calc(33.33333% - 16px);}
    ul.you-might-categories > li:nth-child(2n + 1)::before{display: none;}
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    body.single-post .you-might-main, body.single-post .you-might-main, body.page-template-services-overview .you-might-main{margin: 50px 0 20px;}
    .you-might-main{gap: 32px; padding: 32px; margin: 50px 0; border-radius: 32px;}
    .you-might-rows{gap: 24px; justify-content: center;}
    .you-might-of-3{flex: 0 0 calc(50% - 12px);}
    .you-might-title{width: 100%; text-align: center;}
    .you-might-text{padding: 24px 16px 22px;}
    .you-might-btn{width: 100%; text-align: center;}
    .you-might-card figure img{max-height: 160px; overflow: hidden; min-height: 160px; } 
}
@media screen and (max-width: 767px) and (min-width: 200px){
    body.single-post .you-might-main, body.single-post .you-might-main, body.page-template-services-overview .you-might-main{margin: 50px 0 20px;}
    .you-might-main{gap: 24px; padding: 23px 24px; margin: 50px 0; border-radius: 24px;}
    .you-might-rows{display: block;}
    .you-might-list{width: 100%; margin-bottom: 24px;}
    .you-might-list:last-child{margin-bottom: 0;}
    .you-might-title{width: 100%; text-align: center;}
    .you-might-text{padding: 24px 16px 22px;}
    .you-might-title h3{font-size: 1.5rem; letter-spacing: -.24px; line-height: 1.875rem;}
    .you-might-btn, .you-might-btn .button{width: 100%;}
}
@media screen and (max-width: 389px) and (min-width: 200px){
    ul.you-might-categories{gap: 5px 12px;}
    ul.you-might-categories > li::before {left: 0; margin-right: 8px; position: relative;}
}