





.ai-powered-text span.optional-text{margin-bottom: 28px;}
.ai-powered-text h2{margin-bottom: 29px;}
/* .ai-powered-logos{background-color: var(--Accent-Blue);} */


.ai-powered-elephant{width: 64px; height: 56.8px; border-radius: 16px 16px 0 0; background-color: var(--Accent-Blue); border-bottom: 1px solid var(--Black-10);}
.ai-powered-icon{
    width: 64px;
    background-color: var(--Accent-Blue);
    padding: 6px 12px;
}
ul.ai-powered-menus >li:first-child .ai-powered-icon{padding-top: 14.5px;}
ul.ai-powered-menus >li:last-child .ai-powered-icon{padding-bottom: 32px; border-radius: 0 0 16px 16px;}
ul.ai-powered-menus li a {width: 40px; height: 40px; border-radius: 8px; border: 1px solid transparent; position: relative;}
ul.ai-powered-menus li a:hover{border-color: var(--White);}
ul.ai-powered-menus li a.active{background-color: var(--White);}
ul.ai-powered-menus li a svg path{transition: var(--b-transition);}
ul.ai-powered-menus li a.active svg path{fill: var(--Accent-Blue);}
.ai-powered-feature{flex: 1; position: relative;}
.ai-powered-line{flex: auto; width: fit-content; height: 1px; background-color: var(--Accent-Blue);}
.ai-powered-line svg{top: 50%; transform: translateY(-50%); left: -6px; width: 17px; height: 17px; position: absolute;}
.ai-powered-btn{
    width: fit-content;
    color: var(--Accent-Blue);
font-size: 18px;
font-weight: 700;
letter-spacing: 0.54px;
padding: 8px 12px;
border: 1px solid var(--Accent-Blue);
background: linear-gradient(180deg, var(--White) 0%, var(--Accent--Light-Blue) 100%);
}
.ai-powered-number{
    top: 2px;
    left: 19px;
    width: 13.6px;
height: 13.6px;
background-color: var(--red-100);
color: var(--White);
font-size: 8px;
font-weight: 700;
letter-spacing: 0.4px;
line-height: 0;
}


/*-- media css starts here --*/
@media screen and (min-width: 768px) {
    ul.ai-powered-menus >li:nth-child(1) .ai-powered-feature{top: 9px; max-width: 315px;}
    ul.ai-powered-menus >li:nth-child(2) .ai-powered-feature{top: 4px; }
    ul.ai-powered-menus >li:nth-child(3) .ai-powered-feature{top: 4px; max-width: 227px;}
    ul.ai-powered-menus >li:nth-child(4) .ai-powered-feature{top: 4px; max-width: 457px;}
    ul.ai-powered-menus >li:nth-child(5) .ai-powered-feature{top: 4px; max-width: 218px;}
    ul.ai-powered-menus >li:nth-child(6) .ai-powered-feature{top: 4px; max-width: 506px;}
    ul.ai-powered-menus >li:nth-child(7) .ai-powered-feature{top: 4px; max-width: 282px;}
}
@media screen and (min-width: 1024px) {
    .ai-powered-wrap{padding: 82px 0 80px;}
    .ai-powered-image{min-height: 500px;}
    
}
@media screen and (min-width: 1300px) {
    .ai-powered-main{padding-right: 48px;}
    .ai-powered-text{flex: 1; padding: 56px 64px 56px 56px;}
    .ai-powered-image{flex: 0 0 624px;}
    div.ai-powered-bg{height: calc(100% - 44px); top: 22px;}
}
@media screen and (max-width: 1299px) and (min-width: 1024px){
    .ai-powered-main{padding: 56px 40px 56px; gap: 32px;}
    .ai-powered-text{flex: 1; }
    .ai-powered-image{flex: 0 0 484px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .ai-powered-wrap{padding: 70px 0 70px;}
    .ai-powered-main{flex-direction: column; gap: 62px; padding: 56px 72px 56px 56px;}
    .ai-powered-text{width: 100%;}
    .ai-powered-image{width: 100%;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .ai-powered-wrap{padding: 41px 0 39px;}
    .ai-powered-main{display: block; border-radius: 24px; padding: 30px 20px 32px;}
    .ai-powered-text h2{font-size: 24px; line-height: 27px; letter-spacing: -0.24px;}
    .ai-powered-text span.optional-text{margin-bottom: 22px;}
    .ai-powered-image{width: 100%; margin-bottom: 24px;}
    .ai-powered-elephant{height: 42.6px; border-radius: 12px 12px 0 0;}
    .ai-powered-elephant svg{width: 30px;}
    .ai-powered-elephant, .ai-powered-icon{width: 48px;}
    .ai-powered-icon{padding: 4px;}
    .ai-powered-btn{padding: 7px 12px; font-size: 13.5px; line-height: 14px; letter-spacing: 0.405px;}
    ul.ai-powered-menus li a { width: 30px; height: 30px; }
    ul.ai-powered-menus > li:first-child .ai-powered-icon{padding-top: 11px;}
    ul.ai-powered-menus >li:nth-child(1) a svg{width: 17.4px;}
    ul.ai-powered-menus >li:nth-child(2) a svg{width: 18px;}
    ul.ai-powered-menus >li:nth-child(3) a svg{width: 17.4px;}
    ul.ai-powered-menus >li:nth-child(4) a svg{width: 18px;}
    ul.ai-powered-menus >li:nth-child(5) a svg{width: 17.4px;}
    ul.ai-powered-menus >li:nth-child(6) a svg{width: 17.4px;}
    ul.ai-powered-menus >li:nth-child(7) a svg{width: 18.621px;}
    ul.ai-powered-menus >li:nth-child(8) a svg{width: 17.4px;}

    ul.ai-powered-menus > li:last-child .ai-powered-icon { border-radius: 0 0 12px 12px; padding-bottom: 18px; }
    .ai-powered-line svg { left: -6px; width: 14px; height: 14px; }
    ul.ai-powered-menus >li:nth-child(1) .ai-powered-feature{top: 4px;}
    /* ul.ai-powered-menus >li:nth-child(2) .ai-powered-feature{top: 1px; }
    ul.ai-powered-menus >li:nth-child(3) .ai-powered-feature{top: -1px;}
    ul.ai-powered-menus >li:nth-child(4) .ai-powered-feature{top: 0px;}
    ul.ai-powered-menus >li:nth-child(5) .ai-powered-feature{top: 12px;}
    ul.ai-powered-menus >li:nth-child(6) .ai-powered-feature{top: 12px;}
    ul.ai-powered-menus >li:nth-child(7) .ai-powered-feature{top: 12px;} */

    .ai-powered-number{ top: 2px; left: 13px; width: 10.2px; height: 10.2px; font-size: 7px; letter-spacing: 0.3px; }
}
@media screen and (max-width: 374px) and (min-width: 200px){
    .ai-powered-btn { font-size: 11.5px; letter-spacing: .305px; line-height: 12px; padding: 7px 8px; }
}