


.arrays-feature-section{background: linear-gradient(180deg, var(--White) 0%, rgba(255, 255, 255, 0.00) 100%), var(--Eggshell);}


.arrays-feature-head{padding-bottom: 45px;}
.arrays-feature-srvcs{padding-bottom: 64px;}
.arrays-feature-srvc{box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08); }
.arrays-feature-srvc:nth-child(1):last-child{flex: 1;}


figure.arrays-feature-srvc-icon{max-width: 48px; height: auto; margin: auto;}
figure.arrays-feature-srvc-icon img{object-fit: contain;}
.arrays-feature-srvc-text{padding-top: 19px;}


figure.arrays-feature-icon{max-width: 40px; height: auto; margin: auto;}
figure.arrays-feature-icon img{object-fit: contain;}
.arrays-feature-list span.fs-20{letter-spacing: -0.2px;}



/*-- media css starts here --*/
@media screen and (min-width: 768px){
.arrays-feature-wrap{padding: 80px 0 80px;}

    .arrays-feature-row{gap: 60px 0; justify-content: center;}
    .arrays-feature-list{padding: 0 32px; margin: 0; border-left: 2px solid rgb(232, 201, 227);}
    .arrays-feature-list span.fs-20{padding-top: 15px; text-align: center;}
}
@media screen and (min-width: 1024px){
    .arrays-feature-srvcs{gap: 56px;}
    .arrays-feature-srvc{flex: 0 0 calc(50% - 28px); padding: 48px; }
    .arrays-feature-list{flex: 0 0 20%;}
    .arrays-feature-list:nth-child(5n+1){border-left: none;}
}
@media screen and (max-width: 1199px) and (min-width: 1024px){
    .arrays-feature-list{padding: 0 24px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .arrays-feature-srvcs{gap: 40px;}
    .arrays-feature-srvc{flex: 0 0 calc(50% - 20px); padding: 40px; }
    .arrays-feature-list{flex: 0 0 33.3333333333%;}
    .arrays-feature-list:nth-child(3n+1){border-left: none;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .arrays-feature-wrap{padding: 0 0 19px;}

    .arrays-feature-head{padding-bottom: 20px;}
    .arrays-feature-srvcs{flex-direction: column; gap: 20px; padding-bottom: 40px;}
    .arrays-feature-srvc{padding: 24px; box-shadow: 0px 9px 16px 0px rgba(98, 7, 84, 0.08);}
    .arrays-feature-srvc-text{font-size: 18px; line-height: 27px;}
    .arrays-feature-srvc-text h2{font-size: 24px; line-height: 30px; letter-spacing: -0.24px;}

    .arrays-feature-row{flex-direction: column; gap: 20px;}
    .arrays-feature-list{padding-bottom: 20px; gap: 16px; align-items: center; flex-direction: row-reverse; display: flex; flex-wrap: wrap; border-bottom: 2px solid rgb(232, 201, 227);}
    .arrays-feature-list:last-child{border-bottom: none;}
    figure.arrays-feature-icon{margin: 0;}
    .arrays-feature-list span.fs-20{flex: 1;}
    .arrays-feature-list span.fs-20 br{display: none;}
 






}