



.user-intro-section{background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, var(--White) 100%), var(--Eggshell);}



.user-intro-logos{gap: 36px; padding-bottom: 34px;}
.user-intro-logo{max-width: 261px;}
.user-intro-logo:nth-child(3) img{max-width: 221px;}

.user-intro-text p{margin-bottom: 39px;}
.user-intro-xmark svg{object-fit: contain;}
.user-intro-xmark:nth-child(1){display: none;}

/*-- media css starts here --*/
@media screen and (min-width: 768px){
    .user-intro-main{padding: 80px 0 24px; max-width: 952px;}
    .user-intro-xmark svg{width: 58px;height: 59px;}
    .user-intro-xmark svg:last-child{display: none;}
}
@media screen and (min-width: 1024px){

}
@media screen and (max-width: 1023px) and (min-width: 768px){
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .user-intro-main{padding: 40px 0 0;}
    .user-intro-logos{flex-direction: column; gap: 24px; padding-bottom: 40px;}
    .user-intro-xmark svg{width: 33px; height: 34px;}
    .user-intro-xmark svg:first-child{display: none;}
}








