



.user-intro-section{background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, var(--White) 100%), var(--Eggshell);}

.user-intro-main{padding: 80px 0 252px; max-width: 952px;}


.user-intro-logos{gap: 36px; padding-bottom: 34px;}
.user-intro-logo{max-width: 261px;}
.user-intro-logo:nth-child(3) img{max-width: 221px;}

.user-intro-text p{margin-bottom: 39px;}
.user-intro-text .button{padding: 15px 24px 17px; font-size: 24px; line-height: 30px; letter-spacing: -0.24px;}









