:root{
    --black: #000;
    --black-5: rgb(0 0 0 / 5%);
    --black-10: rgb(0 0 0 / 10%);
    --White-60: rgb(255 255 255 / 60%);
    --White-90: rgb(255 255 255 / 90%);
    --White-75: #F5F9FF;
    --White: #ffffff;
    --body-text: #707372;
    --Raisin-Black: #302135;
<<<<<<< HEAD
    --Accent: #A4278F;
    --Eggshell: #FEF3F2;
    --Gray-1: #343740;
    --Coal: #25282A;
=======
    --RecallMax-Purple: #A4278F;
>>>>>>> 03ed4a0b50c43f3b3bc73161884f19a593e73d9a
}