:root{
    --black: #000;
    --black-5: rgb(0 0 0 / 5%);
    --black-10: rgb(0 0 0 / 10%);
    --White-60: rgb(255 255 255 / 60%);
    --White-90: rgb(255 255 255 / 90%);
    --White-75: #F5F9FF;
    --White: #ffffff;
    --body-text: #707372;
    --Raisin-Black: #302135;
    --Dark: #2B2C2D;
    --Accent: #A4278F;
    --Accent-2: #1EA4B5;
    --Accent-3: #3BAFD3;
    --Accent-4: #FFA90D;
    --Purple: #5D2770;
    --Eggshell: #FEF3F2;
    --Gray-1: #343740;
    --Gray-2: #676970;
    --Coal: #25282A;
    --Card-Stroke: rgba(164, 39, 143, 0.20);
    --RecallMax-Purple-Tint: rgba(164, 39, 143, 0.10);
    --Raisin-Tint: rgba(48, 33, 53, 0.05);
    --Raisin-Tint-2: rgba(48, 33, 53, 0.90);
    --Earthy-Blue: #1EA4B5;
    --Indigo: #19155E;
    --Sky-Blue: #00DAFF;
    --Translucent: rgba(23, 125, 138, 0.20);
    --Translucent-2: rgba(34, 124, 152, 0.20);
    --Translucent-3: rgba(255, 169, 13, 0.20);
    --Text: #227C98;
    --Text-2: #926A23;
    --Text-3: #177D8A;
    --Translucent: rgba(164, 39, 143, 0.20);
    --Orange: #FF492C;
    --Tint: #FFF8D3;
    --Tint-2: #EAFEFF;
    --Tint-3: #EAFFF3;
}