

.site-footer{background-color: var(--Raisin-Black); color: var(--White); font-family: var(--base-font);}
.footer{padding: 75px 0 80px;}
.footer-top{padding-bottom: 71px;}

.footer-logo{max-width: 313px;}
.footer-logo img{object-fit: contain;}



ul.footer-address{margin: 0; gap: 11px; flex-direction: column;}
ul.footer-address > li{margin: 0;}
ul.footer-address > li::before{display: none;}
ul.footer-address > li > a{gap: 8px; font-size: 18px; line-height: 28px;}
ul.footer-address > li > a:hover{color: var(--Accent);}

ul.footer-lists{margin: 0;}
ul.footer-lists > li{margin: 0;}
ul.footer-lists > li::before{display: none;}
ul.footer-lists > li > a{display: block;}

span.footer-title{padding-bottom: 17px; color: var(--Accent); font-size: 18px; line-height: 18px; display: block;}
ul.footer-links{margin: 0; gap: 24px; flex-direction: column;}
ul.footer-links li::before{display: none;}
ul.footer-links li{margin: 0;}
ul.footer-links li a{font-size: 16px; line-height: 16px; display: block;}
ul.footer-links li a:hover{color: var(--Accent);}


.copyrights-main{padding: 72px 0 0; font-size: 13px; line-height: 20px; border-top: 1px solid var(--Accent);}
ul.copyright-links {flex: 1; margin:0; gap: 0 41px; justify-content: flex-end;} 
ul.copyright-links > li { margin:0;} 
ul.copyright-links > li::before {width: 1px; height: 20px; left: -21px; top: -1px; background-color: var(--Accent);} 
ul.copyright-links > li:first-child::before{display: none;}
ul.copyright-links > li > a{ color: var(--White); letter-spacing: 0.1px; }
ul.copyright-links>li.current-menu-item>a, ul.copyright-links>li>a:hover { color:var(--Accent) }
 
/*-- media css starts here --*/
@media only screen and (min-width: 1280px) {
    .footer-row{gap: 0 128px;}
}
@media only screen and (min-width: 1024px) {
    .footer-top{gap: 0 64px;}
    .footer-row{padding-bottom: 71px;}
    .footer-text{flex: 0 0 300px;}
    .footer-lists{flex: 1; gap: 0 40px;}
    .footer-list{flex: 0 0 calc(33.3333% - 27px);}
    .footer-desc{margin-bottom: 32px; letter-spacing: -0.24px;}
}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
    .footer-row{gap: 0 80px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .footer-row{display: block; padding-bottom: 67px;}
    .footer-text{gap: 32px; padding-bottom: 80px;}
    .footer-desc{flex: 1; font-size: 32px; line-height: 40px; letter-spacing: -0.32px;}
    ul.footer-address{width: fit-content;}
    .footer-lists{gap: 0 24px;}
    .footer-list{flex: 0 0 calc(33.3333% - 16px);}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .footer { padding: 40px 0 40px; }
    .footer-top{padding-bottom: 31px;}
    .footer-text{display: block; text-align: center;}
    .footer-desc{padding-bottom: 33px; font-size: 28px; line-height: 35px; letter-spacing: -0.28px;}
    ul.footer-address > li > a{
    border-radius: 36px;
    border: 2px solid var(--RecallMax-Purple, #A4278F);
    padding: 10px 0 10px;
    justify-content: center;
    }

    .footer-row{display: block; padding-bottom: 32px;}
    ul.footer-lists{flex-direction: column; gap: 20px; display: none;}
    .copyrights-main{padding-top: 32px; flex-direction: column; text-align: center; border-top: none;}
    .copyright-text{padding-bottom: 9px;}
    ul.copyright-links{justify-content: center; gap: 32px;}
    ul.copyright-links > li::before{left: -16px;}
    ul.copyright-links > li > a{letter-spacing: 0;}
}